body {
  text-align: center;
  margin: 0;
  padding: 50px 200px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #2a2c39;
}
h1 {
  font-size: 40px;
  font-family: cursive;
  letter-spacing: 3px;
}
p {
  margin: 0;
  color: black;
}
.title {
}
.title-description {
  line-height: 24px;
}
.projects {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 75px;
  row-gap: 100px;
  text-align: left;
}
.project-title {
  color: #2a2c39;
  font-weight: 300;
  font-size: 32px;
  padding-bottom: 16px;
  text-align: center;
  font-family: cursive;
  font-variant: small-caps;
  /* background-color: lightgreen; */
}
.project-description {
  font-size: 18px;
  line-height: 26px;
  /* padding-left: 15px; */
  padding-bottom: 16px;
  /* text-align: left; */
}
.github-link,
.eye-icon-container {
  color: #444444;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #ef6603;
}
a:hover {
  text-decoration: underline;
  color: rgb(4, 177, 177);
}
.eye-icon-container {
  /* background-color: lightblue; */
}
.eye-icon {
  width: 25px;
}

/* .project-title-container {
  display: grid;
  grid-template-columns: auto auto;
  vertical-align: middle;
} */
